head {
  background-color: black;
}

body {
  background-color: black;
}

h2 {
  color: white;
}

h3 {
  color: white;
}

h4 {
  color: white;
}

label {
  color: white;
}

#file {
  color: white;
}

p {
  color: white;
}

li {
  color: white;
}
table {
  color: white;
}

var {
  color: white;
}

a {
  color: white;
}
